.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
     margin: 50px auto;
    flex-wrap: wrap;
    gap: 20px;
}

.container a {
    border-radius: 10px;
    padding: 20px;
    background-color: orange;
    width: 100px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    transition: .2s;
    color: black;
    margin: auto;
}

.container a:hover{
    box-shadow:  0px 0px 10px red;
}

